header {
    width: 100%;
    font-family: 'Roboto', sans-serif;
      
    nav {
      margin: 0 auto;
      text-align: left;
      
 
      .navigasjon {
        display: flex;
        align-items: center;
        list-style: none;

        padding: 0;
        margin: 0;
  
        li {
          margin: 0 0.5rem;
  
          a {
            display: block;
            text-decoration: none;
            color: #000000;
            padding: 0.5rem 1rem;
            font-weight: bold;
            font-size: 1.5rem;
            border-radius: 4px;
  
            &:hover {
              color: #ffffff;
              background-color: #000000;
            }
  
            &.active {
              background-color: transparent;
              color: #000000;
            }
          }
        }
  
        .billettlyst {
          display: inline-block;
          text-align: left;
          margin-right: auto;
          margin-left: 0;
        }

        .billettlyst a {
          padding: 0;
          font-size: 2rem;
          color: #0f96e4;
        }

        .underholdning {
          margin-left: 0;
          margin-right: 0;
          gap: 1rem;
          padding: 0;
        }
  
        .login {
          margin-left: auto;
          margin-right: 0;
        }

        .login a {
          padding: 0;
        }
      }
    }
  }
  