header {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #000;
  
    nav {
      margin: 0 auto;
      padding: 1rem 2rem;
 
      .navigasjon {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          margin: 0 0.5rem;
  
          a {
            display: block;
            text-decoration: none;
            padding: 0.5rem 1rem;
            font-weight: bold;
            font-size: 14px;
            border-radius: 4px;
  
            &:hover {
              color: #ffffff;
              background-color: #1d4274;
            }
  
            &.active {
              background-color: #1d4274;
              color: #ffffff;
            }
          }
        }
  
        .billettlyst {
          margin-right: auto;

        }
  
        .login {
          margin-left: auto;
        }
      }
    }
  }
  